cachetools==5.3.2
camelcase==0.2
certifi==2024.2.2
charset-normalizer==3.3.2
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.41
idna==3.6
importlib-metadata==7.0.1
importlib-resources==6.1.1
ipython==8.12.3
itsdangerous==2.1.2
jedi==0.19.1
kiwisolver==1.4.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.4
matplotlib-inline==0.1.6
mdurl==0.1.2
nest-asyncio==1.6.0
numpy==1.24.4
packaging==23.2
pandas==2.0.3
plotly==5.18.0
prompt-toolkit==3.0.43
protobuf==4.25.2
psutil==5.9.8
pure-eval==0.2.2
pyproject_hooks==1.0.0
python-dateutil==2.8.2
referencing==0.33.0
requests==2.31.0
rich==13.7.0
rpds-py==0.17.1
six==1.16.0
streamlit==1.31.0
tenacity==8.2.3
threadpoolctl==3.2.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
tornado==6.4
traitlets==5.14.1
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.2
urllib3==2.2.0
validators==0.22.0
zipp==3.17.0
